* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size:16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}
button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white{
    font-size: 13px;
    width: 120px;
    font-weight: 600;
    padding: 11px 18px;
    color: white;
    background: transparent;
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    transition: 0.2s;
}

body{
    width: 100%; 
}

/*HEADER*/ 

#header{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #e3e6f3;
    box-shadow: 0 5px rgba(0, 0, 0,0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
#header img{
    height: 60px;
    width: 150px;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color: rgb(0, 140, 255);
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: '';
    width: 30%;
    height: 2px;
    background: rgb(0, 140, 255);
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#mobile{
    display: none;
    align-items: center;
}
#close{
    display: none;
}

/* HOME PAGE  */
#hero{
    background-image:url(/Images/d.jpg) ;
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#hero h4{
    padding-bottom: 15px;
}
#hero h1{
    color: rgb(0, 140, 255);
}
#hero button{
    background: black;
    padding: 3%;
    width: 150px;
    color: white;
    border: 0;
    font-size: 15px;
    cursor: pointer;
}
.slider-frame{
    overflow: hidden;
    width: 400px;
    height: 60vh;
    margin-top: 70px;
}   
.slider-image div{
    float: left;
    width: 20%;
}
.slider-image img{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}
.slider-image{
    position: relative;
    width: 500%;
    margin: 0%;
    animation: animate 60s infinite;
}


@keyframes animate{
    0%{left: 0%;}
    10%{left: 0%;}
    12%{left: -100%;}
    22%{left: -100%;}
    24%{left: -200%;}
    34%{left: -200%;}
    36%{left: -300%;}
    46%{left: -300%;}
    48%{left: -400%;}
    58%{left: -400%;}
    60%{left: -300%;}
    70%{left: -300%;}
    72%{left: -200%;}
    82%{left: -200%;}
    84%{left: -100%;}
    94%{left: -100%;}
    96%{left: 0%;}
}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .fe-box{
    width: 150px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0,0.20);
    border: 1px solid #cce ;
    border-radius: 4px;
    margin: 15px 0;
}
#feature .fe-box:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0,0.30);
    transition: 0.3s ease;
}
#feature .fe-box a .fa{
    margin-bottom: 10%;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.705);
}
#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px ;
    line-height: 1;
    font-size: 15px;
    color:rgba(0, 0, 0, 0.774);
    background-color: rgba(0, 140, 255, 0.198);
}
#feature .fe-box:nth-child(2) h6{
    background-color: rgba(255, 0, 0, 0.198);
}
#feature .fe-box:nth-child(3) h6{
    background-color: rgba(0, 255, 13, 0.198);
}
#feature .fe-box:nth-child(4) h6{
    background-color: rgba(255, 187, 0, 0.363);
}
#feature .fe-box:nth-child(5) h6{
    background-color: rgba(111, 0, 255, 0.198);
}

#product1{
    text-align: center;
}
#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}
#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0,0.15);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}
#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0,0.25);
}

#product1 .pro img{
    width: 100%;
    height: 220px;
    border-radius: 20px;
}
#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}
#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 20px ;
}
#product1 .pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}
#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color:rgb(0, 140, 255) ;
}
#product1 .pro a .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: rgba(129, 127, 127, 0.212);
    font-weight: 700;
    color:rgb(0, 140, 255) ;
    border: 1px solid rgba(129, 127, 127, 0.212);
    position: absolute;
    bottom: 20px;
    right: 10px;
}
#product1 .pro a .cart:hover{
    background-color: rgb(0, 140, 255);
    color: white;
    transition: 0.3s ease;
}
#banner{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background:black;
    width: 100%;
    height: 40vh;
}
#banner h2{
    color: rgb(209, 208, 208);
}
#sm-banner{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2%;
}
#sm-banner .banner-box{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(/Images/im.jpg);
    width: 560px;
    height: 50vh; 
    background-size: cover;
    background-position: center;
    padding: 30px;
}
#sm-banner h4{
    color: white;
    font-size: 20px;
    font-weight: 300;
}
#sm-banner h2{
    color: white;
    font-size: 28px;
    font-weight: 800;
}
#sm-banner span{
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}
#sm-banner .banner-box button:hover{
    background: rgb(0, 140, 255);
    border: 1px solid rgb(0, 140, 255);
}
#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}
#banner3 .banner-box{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(/Images/im.jpg);
    min-width: 32%;
    width: 100px;
    height: 30vh; 
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}
#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background: #041e42;
}
#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: white;
}
#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}
#newsletter p span{
    color: rgb(0, 140, 255);
}
#newsletter .form{
    display: flex;
    width: 40%;
}
#newsletter input{
    height: 3.125rem;
    padding: 0 1.25rem;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0%;
     border-bottom-right-radius: 0%;
}
#newsletter button{
    background-color: rgb(0, 140, 255);
    color: white;
    white-space: nowrap;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
} 

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}
footer .follow i:hover,
footer a:hover{
    color: rgb(0, 140, 255);
 }

footer .install .row img{
    border: 1px solid rgb(0, 140, 255);
    border-radius: 6px;
}
footer .install img{
    margin: 10px 0 15px 0;
}
footer .copyright{
    width: 100%;
    text-align: center;
}
a#scrollUp {
    bottom: 0px;
    right: 10px;
    padding: 5px 10px;
    background: #008CF0;
    color: #FFF;
    -webkit-animation: bounce 2s ease infinite;
    animation: bounce 2s ease infinite;
}
a#scrollUp i {
    font-size: 30px;
}


/***Media Queries***/

@media (max-width:799px){
    .section-p1{
        padding: 40px 40px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }
    #navbar.active{
        right: 0px;
    }
    #navbar li {
        margin-bottom: 25px;
    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }
    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }
    #lg-bag{
        display: none;
    }
    #hero{
        height: 50vh;
        padding: 0 50px;
        background-position: top 30% right 30%;
    }
    #feature{
        justify-content: center;
    }
    #feature .fe-box{
        margin: 15px 15px;
    }
    #product1 .pro-container {
        justify-content: center ;
    }
    #product1 .pro {
        margin: 20px 10px;
    }
    #banner {
        height: 40vh;
    }
    #sm-banner .banner-box {
        width: 100%;
        height: 50vh;
    }
    #sm-banner .banner-box2{
        margin-top: 20px;
    }
    #banner3 {
        padding: 0 40px;
    }
    #newsletter .form{
        width: 70%;
    }
}
@media (max-width:478px) {
    .section-p1 {
        padding: 20px;
    }
    #header {
        padding: 10px 30px;
    }
    h1{
        font-size: 38px;
    }
    h2 {
        font-size: 32px;
    }
    #hero {
        padding: 0 20px;
        background-position:55%;
    }
    #feature .fe-box {
        width: 130px;
    }
    #product1 .pro{
        width: 90%;
    }
    #product1 .pro img{
        height: 300px;
    }
    #banner3 .banner-box{
        width: 100%;
    }
    #newsletter{
        padding: 40px 40px;
    }
    #newsletter .form{
        width: 100% ;
    }
    #feature .fe-box h6{
        font-size: 13px;
    }
}
@media (max-width:419px) {
    .slider-frame {
        width: 300px; 
        height: 390px;
        margin-top: -1%;
    }
    .slider-image div{
        margin-top: 2%;
    }
    #hero h2{
        font-size: 20px;
        line-height: 30%;
    }
}
@media (max-width:319px) {
    .slider-frame {
        width: 250px; 
    }
    #hero h4{
        font-size: 20px;
    }
    #hero h1{
        font-size: 25px;
    }
    #hero h2{
        font-size: 20px;
        line-height: 50%;
    }
    .slider-image div {
        width: 20%;
       
    }
    #hero {
        line-height: 150%;
    }
    #banner h2{
        font-size: 20px;
        line-height: 140%;
    }
}